.foswikiMetaData {
  margin-top:calc(var(--margin, 2em) * 2);
}
.foswikiAttachmentsCount {
  display:inline-block;
  margin:0 0.1em;
}
.foswikiMetaData .jqTab {
  border-color: var(--tabpane-border-color, #ddd);
}
.foswikiMetaData .jqTabPane .jqTabContents {
  padding:0;
}
.foswikiMetaData .foswikiDataForm,
.foswikiMetaData .foswikiAttachments,
.foswikiMetaData .foswikiComments,
.foswikiMetaData .foswikiAttachmentsProcess {
  border:0;
  background-color:transparent;
}
.foswikiMetaData .foswikiFormStep:first-child {
  margin-bottom:1em;
}
.foswikiMetaData .foswikiFormStep:last-child {
  margin-top:1em;
}
.foswikiMetaDataNotAllowed .foswikiMetaDataEdit {
  display:none !important;
}

/* attachments */
.foswikiMetaData .jqTabContents .foswikiAttachments {
  padding-left:1em;
  padding-right:1em;
  padding-bottom:0;
  margin-top:0;
}
.foswikiAttachmentsOptionsToggleContainer .foswikiAttachmentsOptions {
  display:block; 
}
.foswikiAttachmentsOptionsToggleContainer {
  display:none;
}
.foswikiAttachmentsOptions a {
  text-decoration:none;
  padding: 2px 5px;
  margin:0 -2px; 
}
.foswikiAttachmentsOptions b {
  padding: 2px 5px;
}
.foswikiFormSteps .foswikiAttachmentsOptions .foswikiCheckbox {
  margin-right:0;
}
.foswikiAttachments .foswikiFilter,
.foswikiAttachments .foswikiSortBy,
.foswikiAttachments .foswikiResultsPerPage,
.foswikiAttachments .foswikiDisplayHidden {
  margin:0 0.5em 0.5em 0;
  white-space:nowrap;
  display:inline-block;
}
.foswikiAttachments .foswikiAlert {
  margin-top: 9px;
}
.foswikiAttachments .foswikiFilter input {
  margin:-4px 0 -3px;
}
.foswikiAttachmentsContainer {
  display:flex;
  flex-wrap:wrap;
}
.foswikiAttachments .current {
  background:#aaa;
  color:#fff;
}
.foswikiAttachments .current:hover {
  text-decoration:none;
}
.foswikiThumbnail a {
  overflow:hidden;
  display:block;
}
.foswikiThumbnail a:hover {
  background-color:transparent;
}
.foswikiThumbnail img {
  max-width: 54px;
  max-height: 54px;
}

.foswikiAttachments .foswikiAttachmentEditor .foswikiFormSteps {
  padding: 9px 5px 9px 67px;
  margin: -9px -5px;
  border:0;
}
.foswikiAttachmentInfo {
  margin: 0 9px 0 62px;
  color: var(--color-text, #333);
}
.foswikiAttachment {
  position:relative;
  width:50em;
  max-width:100%;
  flex-grow:1;
  border:0;
}
.foswikiDataForm .foswikiLayoutTable tr:nth-child(2n-1) td,
.foswikiDataForm .foswikiLayoutTable tr:nth-child(2n-1) th,
.foswikiAttachment:nth-child(2n-1),
.foswikiAttachment:nth-child(2n-1) .foswikiAttachmentControl {
  background-color: var(--table-stripes, #f4f4f4);
}
.foswikiAttachment:nth-child(2n-1).foswikiSelected,
.foswikiAttachment:nth-child(2n-1).foswikiSelected .foswikiAttachmentControl {
  color: var(--color-selected-foreground, #599e00);
  background-color: var(--color-selected-background, #efffd8);
}
.foswikiAttachmentName {
  text-overflow:ellipsis;
  overflow:hidden;
}
.foswikiAttachmentComment {
  max-height:8em;
  overflow:auto;
}
.foswikiAttachmentContainer {
  padding: 10px 5px;
}

.foswikiAttachmentControl {
  position:absolute;
  right:0.6923em;
  top:0.6923em;
  background-color: var(--color-background, #fff);
  display:none;
}
.foswikiAttachmentControl a {
  margin-left:0.6923em;
}
.foswikiSelected .foswikiAttachmentControl {
  background-color: var(--color-selected-background, #efffd8);
}
.foswikiSelected .foswikiAttachmentControl,
.foswikiAttachmentHover.foswikiSelected .foswikiAttachmentControl,
.foswikiAttachmentHover .foswikiAttachmentControl {
  display:inline;
}
.foswikiAttachmentHover {
  cursor:pointer;
}

.foswikiAttachmentsPager .foswikiAttachmentsPagerPrev,
.foswikiAttachmentsPager .foswikiAttachmentsPagerNext,
.foswikiAttachmentsPager a {
  margin:0 1px;
  padding: 2px 5px;
  text-decoration:none;
  display:inline-block;
  float:left;
}
.foswikiAttachmentsPager .foswikiAttachmentsPagerPrev {
  margin-right:0.5em;
}
.foswikiAttachmentsPager .foswikiAttachmentsPagerNext {
  float:none;
  margin-left:0.5em;
}
.foswikiAttachmentsPager a:hover,
.foswikiAttachmentsPager a:hover:active,
.foswikiAttachmentsPager a.current:visited,
.foswikiAttachmentsPager a.current {
  background:#bb2222;
  color:#fff;
  text-decoration:none;
}
.foswikiAttachmentsPagerEllipsis {
  margin: 0 5px;
  float:left;
}

.foswikiAttachmentsBottomActions {
  margin-top:1.3864em; /* 18px */
}
.foswikiAttachmentsBulkAction {
  display:none;
  float:left;
}
.foswikiAttachmentsClearAll {
  display:none;
}
.foswikiAttachmentsSelect {
  margin:0.3864em 0; /* 5px */
}
.foswikiAttachmentsBulkAction .jqButton {
  margin-top:-2px;
}

.foswikiAttachmentBulkProgressMessage,
.foswikiAttachmentBulkMessage {
  display:none; /* switched on while opening the dialog */
}

.foswikiAttachmentBulkMessage img {
  margin:0 0 0 1.5em;
}

/* dialogs */
.foswikiPreviewContainer {
  overflow:hidden;
  height:100%;
}
#foswikiAttachmentConfirmDelete .foswikiFormStep {
  overflow:hidden;
}
#foswikiAttachmentConfirmDelete .foswikiThumbnail {
  margin:0;
}
#foswikiAttachmentConfirmDelete .foswikiThumbnailContainer {
  margin:0 0 1em 1em;
}

/* forms */
.foswikiDataForm .foswikiLayoutTable {
  width:100%;
  border-bottom:1px solid var(--color-border, #ddd);
}
.foswikiDataFormTitle,
.foswikiDataFormTitle a {
  color: var(--color-foreground);
}

.foswikiDataForm .foswikiLayoutTable th,
.foswikiDataForm .foswikiLayoutTable td {
  border-top:1px solid var(--color-border, #ddd);
  padding: 15px 7px;
  vertical-align:top;
}
.foswikiDataForm .foswikiLayoutTable td {
  width:100%;
}
.foswikiDataForm .foswikiLayoutTable th {
  color: var(--color-primary);
}

/* comments */
.foswikiMetaData .cmtComments {
  margin:0;
  padding:1em 1em 0 1em;
}

/* pattern skin css */
#patternScreen a.foswikiSelected,
#patternScreen .foswikiSelected {
  color: var(--color-selected-foreground, #599E00);
  background-color: var(--color-selected-background, #efffd8);
}
#patternScreen .foswikiDataForm {
  padding:1em 0 0 1em;
}
#patternScreen .foswikiDataForm .foswikiLayoutTable {
  border:0;
}
#patternScreen .foswikiDataForm h2 {
  margin-top:0.5em;
  font-size:100%;
  line-height:1.1;
  font-weight:bold;
}
#patternScreen .foswikiDataForm h2 a {
  color:#339000;
}
