/* css definitions for the foswiki upload plugin */

.jqUploadButton {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align:middle;
}
.jqUploadButton input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

.jqUploadMsg {
  width:40%;
  left:30%;
  background-color:#b0d0ef;
  overflow:hidden;
}

.jqUploadProgressBar {
  font-size:1.3em;
  color:#fff;
  padding:0.5em 1em;
  background-color:#3a81f0;
  white-space:nowrap;
  box-sizing:border-box;
  display:none;
}
.jqUploadMsg .jqUploadProgressBar {
  display:block;
}
.jqUploadProgressInfo {
  font-size:0.77em;
}

.jqUploadIndicator {
  display:none;
}
.jqUploadIndicator span {
  position:relative;
  text-align:center;
  top:50%;
  left:50%;
  font-size:200%;
  font-weight:bold;
}
.jqUploadDragging .jqUploadIndicator {
  display:block;
  box-sizing:border-box;
  opacity: 0.5;
  background:#fff;
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:9999999999999;
  border:5px solid #900;
}
