*~
*,v
igp_*
*.gz
*.swp
*.jslint
pub/System/TopicInteractionPlugin/attic/
pub/System/TopicInteractionPlugin/dist/
pub/System/TopicInteractionPlugin/jquery.fileupload-process.js
pub/System/TopicInteractionPlugin/metadata.css
pub/System/TopicInteractionPlugin/metadata.js
pub/System/TopicInteractionPlugin/uploader.css
pub/System/TopicInteractionPlugin/uploader.js
/TopicInteractionPlugin.md5
/TopicInteractionPlugin.sha1
/TopicInteractionPlugin.tgz
/TopicInteractionPlugin.txt
/TopicInteractionPlugin.zip
/TopicInteractionPlugin_installer
/TopicInteractionPlugin_installer.pl
