%TMPL:INCLUDE{"attach"}%
%TMPL:INCLUDE{"metadata"}%

%TMPL:DEF{"content"}%<!-- content -->
<div class="foswikiMetaData %IF{"not '%WEB%.%TOPIC%' allows 'change'" then="foswikiMetaDataNotAllowed"}%">
%BUTTON{
  "%MAKETEXT{"Close"}%" 
  class="foswikiRight simple"
  target="%BASEWEB%.%BASETOPIC%" 
  icon="cross"
}%
<h1>
  <noautolink>%MAKETEXT{"Attachments at [_1]" args="%TMPL:P{"topictitle"}%"}%</noautolink>
  <span class='foswikiAttachmentsCount foswikiSmall foswikiGrayText'>()</span>
</h1>
%CLEAR%
<div>%TMPL:P{"attachments"}%</div>
%TMPL:P{"metadata::css"}%
%TMPL:P{"metadata::javascript"}%
</div>
<!-- //content -->%TMPL:END%
