%{ ################################################################################ }%
%TMPL:DEF{"metadata"}%%TMPL:P{"metadata::start"}%
%TMPL:P{"metadata::form"}%%{}%
%TMPL:P{"metadata::attachments"}%%{}%
%TMPL:P{"metadata::comments"}%%{}%
%TMPL:P{"metadata::end"}%%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"metadata::start"}%%{}%
%CLEAR%%TMPL:P{"metadata::css"}%%TMPL:P{"metadata::javascript"}%%{}%
<div class="foswikiMetaData foswikiHideOnPrint %IF{"not '%WEB%.%TOPIC%' allows 'change'" then="foswikiMetaDataNotAllowed"}%">
%TABPANE{select="%URLPARAM{"metadata_tab"}%" animate="on" class="plain"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"metadata::end"}%%ENDTABPANE%</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"metadata::form"}%%TMPL:P{"form"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"metadata::attachments"}%%IF{"$DISPLAYATTACHMENTS!='off'" 
  then="$percntTMPL:P{\"attachments::tab\"}$percnt"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"metadata::comments"}%%IF{"$DISPLAYCOMMENTS='on' and $COMMENTFORMAT='insidetab' and context MetaCommentPluginEnabled"
  then="$percntTMPL:P{\"comments::tab\"}$percnt"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"metadata::lightbox"}%%IF{
  "context PhotoSwipeRegistered" 
  then="$percntJQREQUIRE{\"photoswipe\"}$percnt"
}%%IF{"context PrettyPhotoRegistered and not context PhotoSwipeRegistered"
  then="$percntJQREQUIRE{\"prettyphoto\"}$percnt"
}%%IF{"not context PrettyPhotoRegistered and not context PhotoSwipeRegistered"
  then="$percntJQREQUIRE{\"slimbox\"}$percnt"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"metadata::lightbox::parameter"}%%IF{
  "context PhotoSwipeRegistered" 
  then="jqPhotoSwipe {itemSelector:'.imageSimple'}"
}%%IF{"context PrettyPhotoRegistered and not context PhotoSwipeRegistered"
  then="jqPrettyPhoto {itemSelector:'.imageSimple'}"
}%%IF{"not context PrettyPhotoRegistered and not context PhotoSwipeRegistered"
  then="jqSlimbox {itemSelector:'.imageSimple'}"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"metadata::javascript"}%%{}%
%TMPL:P{"metadata::lightbox"}%%{}%
%JQREQUIRE{"ui::tooltip, ui, uploader, twisty, mediaelement, loader" warn="off"}%%ADDTOZONE{"script" 
  id="METADATA::JS" 
  requires="JQUERYPLUGIN::LIVEQUERY, JQUERYPLUGIN::UI, JQUERYPLUGIN::UPLOADER" 
  text="<script type='text/javascript' src='%PUBURLPATH%/%SYSTEMWEB%/TopicInteractionPlugin/metadata.js'></script>"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"metadata::css"}%%ADDTOZONE{"head" 
  id="METADATA::CSS" 
  requires="NATSKIN::CSS" 
  text="<link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/TopicInteractionPlugin/metadata.css' media='all' />"
}%%TMPL:P{context="ImagePluginEnabled" then="metadata::css::imageplugin"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"metadata::css::imageplugin"}%%ADDTOZONE{"head"
  id="IMAGEPLUGIN"
  text="<link rel='stylesheet' href='%PUBURLPATH%/%SYSTEMWEB%/ImagePlugin/style.css' media='all' />"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"form"}%%IF{"$'DISPLAYFORM'!='off'" 
  then="$percntTMPL:P{\"dataform::tab\"}$percnt"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"comments::tab"}%%TAB{
  "%MAKETEXT{"Comments [_1]" args="<span class='foswikiCommentsCount'>%METACOMMENTS{limit="1" format="($count)" singular="$count" plural="$count"}%</span>"}%" 
  id="comments" 
  url="%SCRIPTURL{"rest"}%/RenderPlugin/template?name=metacomments;expand=metacomments;topic=%WEB%.%TOPIC%;render=on;%GMTIME{"$epoch"}%"
}%
<div class='foswikiFormSteps foswikiAttachmentsProcess'><span class='jqAjaxLoader'>&nbsp;</span></div>
</div>
%ENDTAB%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"dataform::tab"}%%RENDERFORDISPLAY{
  topic="%BASEWEB%.%BASETOPIC%"
  revision="%URLPARAM{"rev"}%"
  excludeattr="[hH]"
  header="$percntTAB{\"%MAKETEXT{"Data form"}%\" id=\"dataform\"}$percnt
          <div class='foswikiPageForm foswikiDataForm jqUITooltip' data-theme='info' data-position='top' data-arrow='true'>
            $percntBUTTON{\"%MAKETEXT{"Edit form"}%\" 
              title=\"%MAKETEXT{"Edit this !DataForm"}%\"
              icon=\"fa-pencil-square-o\" 
              class=\"simple foswikiRight\" 
              target=\"%SCRIPTURL{"edit"}%/%WEB%/%TOPIC%?_t=%GMTIME{"$epoch"}%;action=form\"
            }$percnt
            <h2> [[$title]] </h2>
            %CLEAR%
            <table class='foswikiLayoutTable'>"
  format="<tr>
    <th class='foswikiTableFirstCol'><nop>$title: </th>
    <td class='foswikiFormValue'> $value </td>
    </tr>"
  footer="</table></div>$percntENDTAB$percnt"
  _hideempty="on"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::tab_DIS"}%%TAB{"%MAKETEXT{"Attachments [_1]" args="<span class='foswikiAttachmentsCount'>($count)</span>"}%" 
  id="attachments" 
  url="%SCRIPTURL{"rest"}%/RenderPlugin/template?name=metadata;expand=attachments;topic=%WEB%.%TOPIC%;render=on;_t=%GMTIME{"$epoch"}%"
}%%ENDTAB%%TMPL:END%

%TMPL:DEF{"attachments::tab"}%%TAB{"%MAKETEXT{"Attachments [_1]" args="<span class='foswikiAttachmentsCount'>($count)</span>"}%" 
  id="attachments" 
}%%TMPL:P{"attachments"}%%ENDTAB%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::sort"}%%URLPARAM{
  "attachments_sort" 
  default="%IF{"'%SESSION_VARIABLE{"_attachments_sort"}%'!=''" 
    then="%SESSION_VARIABLE{"_attachments_sort"}%" 
    else="%ATTACHDEFAULTSORT{default="date"}%"
  }%"
}%%TMPL:END%
%TMPL:DEF{"attachments::limit"}%%URLPARAM{
  "attachments_limit" 
  default="%IF{"'%SESSION_VARIABLE{"_attachments_limit"}%'!=''" 
    then="%SESSION_VARIABLE{"_attachments_limit"}%" 
    else="%ATTACHDEFAULTLIMIT{default="6"}%"
  }%"
}%%TMPL:END%
%TMPL:DEF{"attachments::reverse"}%%URLPARAM{
  "attachments_reverse" 
  default="%IF{"'%SESSION_VARIABLE{"_attachments_reverse"}%'!=''" 
    then="%SESSION_VARIABLE{"_attachments_reverse"}%" 
    else="%ATTACHDEFAULTREVERSE{
      default="%IF{"'%ATTACHDEFAULTSORT{default="date"}%'='date'" 
        then="true" 
        else="false"
      }%"
    }%"
  }%"
}%%TMPL:END%
%TMPL:DEF{"attachments::showhidden"}%%URLPARAM{"attachments_showhidden" default="false"}%%TMPL:END%
%TMPL:DEF{"attachments::showoptions"}%%URLPARAM{"attachments_showoptions" default="false"}%%TMPL:END%
%TMPL:DEF{"attachments::showempty"}%%URLPARAM{"attachments_showempty" default="false"}%%TMPL:END%
%TMPL:DEF{"attachments::filter"}%%URLPARAM{"attachments_filter" encode="quote"}%%TMPL:END%
%TMPL:DEF{"attachments::selection"}%%URLPARAM{"attachments_selection" multiple="on" separator=","}%%TMPL:END%
%TMPL:DEF{"attachments::skip"}%%URLPARAM{"attachments_skip" default="0"}%%TMPL:END%
%TMPL:DEF{"attachments::cols"}%%URLPARAM{"attachments_cols" default="1"}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments"}%<noautolink>
<div class='foswikiAttachments foswikiFormSteps foswikiAttachmentsCols%TMPL:P{"attachments::cols"}%' data-show-empty='%TMPL:P{"attachments::showempty"}%' data-show-hidden='%TMPL:P{"attachments::showhidden"}%' data-show-options='%TMPL:P{"attachments::showoptions"}%' data-sort='%TMPL:P{"attachments::sort"}%' data-reverse='%TMPL:P{"attachments::reverse"}%' data-topic='%ENCODE{"%WEB%.%TOPIC%"}%' data-filter='%TMPL:P{"attachments::filter"}%' data-selection='%TMPL:P{"attachments::selection"}%' data-limit='%TMPL:P{"attachments::limit"}%' data-skip='%TMPL:P{"attachments::skip"}%'  data-cols='%TMPL:P{"attachments::cols"}%'>
%IF{"'%URLPARAM{"attachments_sort"}%'!=''" then="$percntSESSION_VARIABLE{\"_attachments_sort\" set=\"%TMPL:P{"attachments::sort"}%\"}$percnt"}%%{}%
%IF{"'%URLPARAM{"attachments_reverse"}%'!=''" then="$percntSESSION_VARIABLE{\"_attachments_reverse\" set=\"%TMPL:P{"attachments::reverse"}%\"}$percnt"}%%{}%
%IF{"'%URLPARAM{"attachments_limit"}%'!=''" then="$percntSESSION_VARIABLE{\"_attachments_limit\" set=\"%TMPL:P{"attachments::limit"}%\"}$percnt"}%%{}%
<div class="foswikiFormStep foswikiFormFirst jqUITooltip" data-theme='info' data-position='top' data-arrow='true'>
%TMPL:P{"uploadbutton"}%%TMPL:P{"optionsbutton"}%%{}%
<div class="foswikiAttachmentsOptionsToggleContainer" %IF{"'%TMPL:P{"attachments::showoptions"}%'='true'" then="style='display:block'"}%>
  <div class="foswikiFormSteps foswikiAttachmentsOptions">
    <span class='foswikiFilter'>
      <b>%MAKETEXT{"Search"}%:</b>
      <input title='%MAKETEXT{"Enter a search pattern to filter the list of attachments"}%' type='text' value='%TMPL:P{"attachments::filter"}%' class='foswikiInputField' size='15'/>
    </span>
    <span class='foswikiSortBy'>
      <b>%MAKETEXT{"Sort by"}%:</b> 
      <select class="foswikiSelect">
        <option class="foswikiOption" %IF{"'%TMPL:P{"attachments::sort"}%'='name'" then="selected"}% value='name'>%MAKETEXT{"Name"}%</option>
        <option class="foswikiOption" %IF{"'%TMPL:P{"attachments::sort"}%'='date'" then="selected"}% value='date'>%MAKETEXT{"Date"}%</option>
        <option class="foswikiOption" %IF{"'%TMPL:P{"attachments::sort"}%'='user'" then="selected"}% value='user'>%MAKETEXT{"Author"}%</option>
        <option class="foswikiOption" %IF{"'%TMPL:P{"attachments::sort"}%'='size'" then="selected"}% value='size'>%MAKETEXT{"Size"}%</option> 
      </select>
    </span>
    <span class='foswikiResultsPerPage'>
      <b>%MAKETEXT{"Results per page"}%:</b>
      <select class="foswikiSelect">
        <option class="foswikiOption" %IF{"'%TMPL:P{"attachments::limit"}%'='6'" then="selected"}%>6</option>
        <option class="foswikiOption" %IF{"'%TMPL:P{"attachments::limit"}%'='12'" then="selected"}%>12</option>
        <option class="foswikiOption" %IF{"'%TMPL:P{"attachments::limit"}%'='24'" then="selected"}%>24</option>
        <option class="foswikiOption" %IF{"'%TMPL:P{"attachments::limit"}%'='48'" then="selected"}%>48</option>
        <option class="foswikiOption" value="all" %IF{"'%TMPL:P{"attachments::limit"}%'='all'" then="selected"}%>%MAKETEXT{"all"}%</option>
      </select>
    </span>
    <span class='foswikiDisplayHidden %IF{"'%WEB%.%TOPIC%'/attachments[attr='h']" else="foswikiHidden"}%'>
      <label title="%MAKETEXT{"Enable/disable displaying hidden attachments"}%">
        <b>%MAKETEXT{"Display hidden"}%:</b>
        <input type='checkbox' class='foswikiCheckbox' %IF{"'%TMPL:P{"attachments::showhidden"}%'='true'" then="checked='checked'"}% value='on' />
      </label>
    </span>
  </div>
</div>
</div>
<div class="foswikiFormStep">
%ATTACHMENTS{
  warn="off"
  attr="%IF{"'%TMPL:P{"attachments::showhidden"}%'!='true'" then="^[^h]*$"}%"
  include="%FORMATLIST{"%TMPL:P{"attachments::filter"}%" split="\s+" header=".*" format="$1" separator=".*" footer=".*"}%"
  casesensitive="off"
  format="<input type='hidden' name='allattachments' value='$name' class='foswikiAttachmentsAll' />"
  separator="$n"
}%%ATTACHMENTS{
  warn="off"
  attr="%IF{"'%TMPL:P{"attachments::showhidden"}%'!='true'" then="^[^h]*$"}%"
  sort="%TMPL:P{"attachments::sort"}%"
  reverse="%TMPL:P{"attachments::reverse"}%"
  limit="%TMPL:P{"attachments::limit"}%"
  skip="%TMPL:P{"attachments::skip"}%"
  include="%FORMATLIST{"%TMPL:P{"attachments::filter"}%" split="\s+" header=".*" format="$1" separator=".*" footer=".*"}%"
  casesensitive="off"
  header="<div class='foswikiAttachmentsPager foswikiAttachmentsPagerTop' data-count='$count'>$pager</div>
    <div class=\"foswikiAttachmentsContainer $percntTMPL:P{\"metadata::lightbox::parameter\"}$percnt jqUITooltip\" data-theme='info' data-position='top' data-arrow='true'>"
  footer="%CLEAR%</div><div class='foswikiAttachmentsPager foswikiAttachmentsPagerBottom'>$pager</div>"
  format="<div class='foswikiAttachment' data-filename='$encode(name)' data-filecomment='$encode(comment)' data-fileattr='$attr' id='$encode(name)'>
      <div class='foswikiAttachmentContainer'>
        <div class='foswikiThumbnail foswikiLeft'>
        $percntIF{
          \"lc('$name')=~'.*\.(gif|jpe?g|png|webp|bmp|svgz?|ico|xcf|psd|pdf|mp4|avi|mov)$' and context ImagePluginEnabled\"
	  then=\"$dollarpercntTMPL:P{\\"attachments::thumbnail\\" filename=\\"$name\\" url=\\"$url\\"}$dollarpercnt\"
          else=\"<a href='$url'>$percntMIMEICON{\"$name\" size=\"48\"}$percnt</a>\"
        }$percnt
        </div>
        <div class=\"foswikiAttachmentControl foswikiRight foswikiMetaDataEdit\">
          $percntTMPL:P{context=\"LikePluginEnabled\" 
            then=\"attachments::like\"
            id=\"$name\"
          }$percnt$percntIF{\"'$webdavUrl'!=''\"
            then=\"<a href='$webdavUrl' class='jqWebDAVLink foswikiAttachmentEditButton' title='%MAKETEXT{"Edit this attachment"}%' rel='nofollow'>%JQICON{"fa-pencil"}%</a>\"
          }$percnt%{}%
          <a href='#' class='foswikiAttachmentPropertiesButton' title='%MAKETEXT{"Edit properties of this attachment"}%' rel='nofollow'>%JQICON{"fa-wrench"}%</a>
          $percntIF{\"(context DocumentViewerPluginEnabled and '$name'=~'\.(pdf|odt|odp|ods|odc|odf|odi)$') or 
                      (context MediaElementPluginEnabled and '$name'=~'\.(flv|swf|mp4|mov|mpe?g|av|webm|ogv$)') or
                      (context VisioPluginEnabled and '$name'=~'vsd')\" 
            then=\"<a href='#' class='foswikiAttachmentPreviewButton' title='%MAKETEXT{"Preview this attachment"}%' rel='nofollow'>%JQICON{"fa-eye"}%</a>\"
          }$percnt$percntIF{\"(context MediaElementPluginEnabled and '$name'=~'\.(mp3|ogg|wav)$')\"
            then=\"<a href='#' class='foswikiAttachmentPreviewButton' title='%MAKETEXT{"Preview this attachment"}%' rel='nofollow'>%JQICON{"fa-headphones"}%</a>\"
          }$percnt%{}%
          <a href='#' class='foswikiAttachmentMoveButton' title='%MAKETEXT{"Move this attachment to a different topic"}%' rel='nofollow'>%JQICON{"fa-arrows"}%</a> 
          <a href='#' class='foswikiAttachmentDeleteButton' title='%MAKETEXT{"Delete this attachment"}%' rel='nofollow'>%JQICON{"fa-trash-o"}%</a>
        </div>
        <div class='foswikiAttachmentInfo' >
          <div class='foswikiAttachmentName'>
            <a href='$url?_t=%GMTIME{"$epoch"}%'>$name</a> 
            $percntIF{\"'$size'!='0'\"
              then=\"<span class='foswikiGrayText'>($sizeH)</span>\"
              else=\"<!-- no size attr -->\"
            }$percnt
            $percntIF{\"'$attr'!=''\" 
              then=\" <span class='foswikiAlert'>\" 
            }$percnt$percntIF{\"'$attr'=~'h'\" 
              then=\" %MAKETEXT{"hidden"}% \"
            }$percnt$percntIF{\"'$attr'=~'t'\" 
              then=\" %MAKETEXT{"thumbnail"}% \" 
            }$percnt$percntIF{\"'$attr'!=''\" 
              then=\"</span>\" 
            }$percnt%{}%
          </div>
          <div class='foswikiAttachmentComment'>$comment</div>
          <span class='foswikiGrayText'>
            %{}% $date &#124; %MAKETEXT{"Version [_1]" args="$version"}% &#124; $percntSPACEOUT{$user}$percnt
            $percntIF{\"context LikePluginEnabled\"
              then=\"$dollarpercntLIKE{
                theme=\\"simple\\" 
                type=\\"FILEATTACHMENT\\" 
                id=\\"$name\\" 
                showdislike=\\"off\\" 
                header=\\"&#124; \\"
                showlabel=\\"off\\"
                hidenull=\\"on\\"
                editable=\\"off\\"
                likeicon=\\"fa-thumbs-o-up fa-flip-horizontal\\"
              }$dollarpercnt\"
            }$percnt%{}%
          </span>
          $percntIF{\"$version>1\"
            then=\"...&nbsp;<a href='#' class='foswikiShowVersions' title='%MAKETEXT{"show previous revisions"}%'>%MAKETEXT{"more"}%</a><a href='#' class='foswikiHideVersions' title='%MAKETEXT{"hide other revisions"}%' style='display:none'>%MAKETEXT{"less"}%</a>
                   <div class='foswikiVersionsContainer' style='display:none'><span class='jqAjaxLoader'>&nbsp;</span></div>\"
          }$percnt%{}%
        </div>
        %CLEAR%
      </div>
    </div>"
}%
</div>
<div class="foswikiFormStep foswikiAttachmentsBottomActions">
  <table class="foswikiLayoutTable foswikiAttachmentsBulkAction">
  <tr>
    <td>
      <select class="foswikiSelect" name="bulkaction">
        <option class="foswikiOption" value="">%MAKETEXT{"More actions"}%</option>
        <option class="foswikiOption foswikiMetaDataEdit" value="createlink">%MAKETEXT{"Insert links"}%</option>
%IF{"context ImageGalleryPluginEnabled" 
  then="        <option class='foswikiOption foswikiMetaDataEdit' value='createimagegallery'>%MAKETEXT{"Create image gallery"}%</option>"
}%%{}%
        <option class="foswikiOption" value="download">%MAKETEXT{"Download"}%</option>
        <option class="foswikiOption foswikiMetaDataEdit" value="hide">%MAKETEXT{"Hide"}%</option>
        <option class="foswikiOption foswikiMetaDataEdit" value="unhide">%MAKETEXT{"Unhide"}%</option>
        <option class="foswikiOption foswikiMetaDataEdit" value="move">%MAKETEXT{"Move"}%</option>
        <option class="foswikiOption foswikiMetaDataEdit" value="delete">%MAKETEXT{"Delete"}%</option>
      </select>
    </td>
    <td>
      %MAKETEXT{"[_1] attachment(s)" args="<span class='foswikiAttachmentsSelected'>0</span>"}%
    </td>
  </tr>
  </table>
  <div class="foswikiAttachmentsSelect jqUITooltip" data-theme='info' data-position='top' data-arrow='true'>
    %BUTTON{"%MAKETEXT{"Select all"}%" icon="fa-plus-circle" class="simple foswikiRight foswikiAttachmentsSelectAll" style="display:none" title="%MAKETEXT{"select all attachments on this topic"}%"}%
    %BUTTON{"%MAKETEXT{"Clear all"}%" icon="fa-minus-circle" class="simple foswikiRight foswikiAttachmentsClearAll" title="%MAKETEXT{"unselect all previously select attachments"}%"}%
    %CLEAR%
  </div>
  %CLEAR%
</div>
</div>
</noautolink>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::like"}%%LIKE{
  type="FILEATTACHMENT"
  id="%id%" 
  theme="simple" 
  showdislike="off" 
  showlabel="off"
  showcount="off"
  likeicon="fa-thumbs-o-up fa-flip-horizontal"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::thumbnail"}%%IMAGE{
  "%filename%"
  tooltip="on"
  size="48x48>"
  crop="northwest"
  title="%filename%"
  data="origUrl:'%url%', title:'%filename%', origWidth:$origwidth, origHeight:$origheight"
}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::versions"}%<noautolink>
%ATTACHMENTS{
  warn="off"
  include="%URLPARAM{"filename"}%"
  format="$percntFORMATLIST{\"$oldversions\"
      split=\"$n\"
      pattern=\"(.*);(.*);(.*);(.*)\"
      format=\"%MAKETEXT{"<a href='[_1]'>Version [_2]</a> uploaded by [_3] on [_4]" args="%SCRIPTURL{"viewfile"}%/%WEB%/%TOPIC%?filename=$encode(name);rev=$3,$3,$dollarpercntSPACEOUT{$2}$dollarpercnt,$1"}%\"
      separator=\"%BR%$n\"
    }$percnt"
}%
</noautolink>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::previewer::start"}%<div class="jqUIDialog" data-modal="true" data-resizable="true" data-width="%width%" data-height="%height%" data-draggable="true" data-auto-open="true" title="%MAKETEXT{"Preview"}%">
  <div class="foswikiPreviewContainer">%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::previewer::end"}%</div>
  <a class="jqUIDialogButton jqUIDialogDestroy {icon:'ui-icon-cancel'}">%MAKETEXT{"Close"}%</a> 
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::previewer::document"}%%{}%
%TMPL:P{"attachments::previewer::start" width="1024" height="724"}%
%DOCUMENTVIEWER{
  "%URLPARAM{"filename" encode="quote"}%"
  topic="%BASEWEB%.%BASETOPIC%"
  width="100%"
  height="100%"
}%
%TMPL:P{"attachments::previewer::end"}%
%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::previewer::visio"}%%{}%
%TMPL:P{"attachments::previewer::start" width="1024" height="724"}%
%VISIO{
  "%URLPARAM{"filename" encode="quote"}%"
  topic="%BASEWEB%.%BASETOPIC%"
  width="100%"
  height="100%"
}%
%TMPL:P{"attachments::previewer::end"}%
%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::previewer::video"}%%{}%
%TMPL:P{"attachments::previewer::start" width="480" height="370"}%
%VIDEO{"%URLPARAM{"filename"}%" topic="%BASEWEB%.%BASETOPIC%" width="100%" height="100%" autoplay="on" preload="on" controls="on" poster="off"}%
%TMPL:P{"attachments::previewer::end"}%
%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::previewer::audio"}%%{}%
%TMPL:P{"attachments::previewer::start" width="auto" height="auto"}%
%AUDIO{"%URLPARAM{"filename"}%" topic="%BASEWEB%.%BASETOPIC%" autoplay="on"}%
%TMPL:P{"attachments::previewer::end"}%
%{}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::editor"}%<div id="foswikiAttachmentEditor" class="jqUIDialog foswikiFormSteps"  data-width="485" data-modal="true" data-resizable="false" data-draggable="true" data-auto-open="true" title="%MAKETEXT{"Edit attachment"}%" style="display:none">
  <form id="foswikiAttachmentEditorForm" name="attach" action="%SCRIPTURL{"rest"}%/TopicInteractionPlugin/changeproperties" method="post">
    <input type="hidden" name="id" value="save" />
    <input type="hidden" name="origfilename" value="" />
    <input type="hidden" name="topic" value="%WEB%.%TOPIC%" />
    <div class="foswikiThumbnailContainer foswikiRight"></div>
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"File name"}%:</h3>
      <input type="text" class="foswikiInputField" size="50" name="filename" value="" />
    </div>
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"Comment"}%:</h3>
      <input type="text" class="foswikiInputField" size="50" name="filecomment" value="" />
    </div>
    <div class="foswikiFormStep foswikiFormOptions">
      <h3>%MAKETEXT{"Options"}%:</h3>
      <label>
        <input type="checkbox" class="foswikiCheckbox" name="hidefile" />
        %MAKETEXT{"Hide attachment in normal topic view."}%
      </label> 
      <div class="foswikiThumbnailStep" style="display:none">
        <label>
          <input type="checkbox" class="foswikiCheckbox" name="isthumbnail" />
          %MAKETEXT{"Use as a thumbnail for the page."}%
        </label>
      </div>
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit {icon:'ui-icon-disk'}">%MAKETEXT{"Save"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose {icon:'ui-icon-cancel'}">%MAKETEXT{"Cancel"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::moveattachment"}%<div id="foswikiAttachmentMove" class="jqUIDialog foswikiFormSteps" data-width="485" data-modal="true" data-resizable="false" data-draggable="true" data-auto-open="true" title="%MAKETEXT{"Move attachment(s) to a different topic"}%" style="display:none">
  <form id="foswikiAttachmentMoveForm" name="move" action="%SCRIPTURL{"rest"}%/TopicInteractionPlugin/move" method="post">
    <input type="hidden" name="id" value="move" />
    <input type="hidden" name="filename" value="" />
    <input type="hidden" name="topic" value="%WEB%.%TOPIC%" />
    <div class="foswikiThumbnailContainer foswikiRight"></div>
    <img class="foswikiGenericThumbnail" src="%PUBURLPATH%/%SYSTEMWEB%/TopicInteractionPlugin/icons/document-export.png" alt="document-export" width="48" height="48" align="right" />
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"To web"}%</h3>
      <input type="text" class="foswikiInputField jqUIAutocomplete" name="newweb" size="50" value="%WEB%" autocomplete="%SCRIPTURL{"view"}%/%SYSTEMWEB%/JQueryAjaxHelper?section=web&skin=text&contenttype=application/json" />
    </div>
    <div class="foswikiFormStep">
      <h3>%MAKETEXT{"To topic"}%:</h3>
      <input type="text" class="foswikiInputField jqUIAutocomplete {extraParams:{baseweb:function() {return jQuery('#foswikiAttachmentMove input[name=newweb]').val()}}}" name="newtopic" size="50" value="%TOPIC%" autocomplete="%SCRIPTURL{"view"}%/%SYSTEMWEB%/JQueryAjaxHelper?section=topic&skin=text&contenttype=application/json" />
      <div class="foswikiFormDescription">
        %MAKETEXT{"The new topic chosen must already exist."}%
      </div>
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit {icon:'ui-icon-copy'}">%MAKETEXT{"Move"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose {icon:'ui-icon-cancel'}">%MAKETEXT{"Cancel"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::confirmdelete"}%<div id="foswikiAttachmentConfirmDelete" class="jqUIDialog foswikiFormSteps" data-modal="true" data-draggable="true" data-width="350" data-max-width="600" data-max-height="480" data-auto-open="true" title="%MAKETEXT{"Delete attachment?"}%" style="display:none">
  <form id="foswikiAttachmentConfirmDeleteForm" action="%SCRIPTURLPATH{"rest"}%/TopicInteractionPlugin/delete" method="post">
    <input type="hidden" name="id" value="delete" />
    <input type="hidden" name="filename" value="" />
    <input type="hidden" name="topic" value="%WEB%.%TOPIC%" />
    <div class="foswikiThumbnailContainer foswikiRight"></div>
    <div class="foswikiFormStep noBreakout">
      %MAKETEXT{"Are you sure that you want to delete [_1]?" args="<br /><b id='deleteAttachment'></b>"}%
      %CLEAR%
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit {icon:'ui-icon-trash'}">%MAKETEXT{"Yes, delete"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose {icon:'ui-icon-cancel'}">%MAKETEXT{"No, thanks"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::paste"}%<div id="foswikiAttachmentPaste" class="jqUIDialog foswikiFormSteps" data-modal="true" data-draggable="true" data-width="350" data-auto-open="true" title="%MAKETEXT{"Paste attachment"}%" style="display:none">
  <form id="foswikiAttachmentPasteForm">
    <b>%MAKETEXT{"Dateiname"}%</b>
    <input type="text" name="filename" class="foswikiInputField" size="30" value="%URLPARAM{"filename" encode="safe"}%" />
    <a class="jqUIDialogButton jqUIDialogSubmit {icon:'ui-icon-clipboard'}">%MAKETEXT{"Attach"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose {icon:'ui-icon-cancel'}">%MAKETEXT{"Cancel"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"attachments::confirmbulkaction"}%<div id="foswikiAttachmentConfirmBulk" class="jqUIDialog foswikiFormSteps" data-modal="true" data-draggable="true" data-width="350" data-auto-open="true" title="%MAKETEXT{"Confirmation required"}%" style="display:none">
  <form id="foswikiAttachmentConfirmBulkForm" method="post">
    <input type="hidden" name="id" value="bulkaction" />
    <input type="hidden" name="filename" value="" />
    <input type="hidden" name="action" value="" />
    <input type="hidden" name="topic" value="%WEB%.%TOPIC%" />
    <div class="foswikiFormStep">
      <div class="foswikiAttachmentBulkMessage foswikiAttachmentBulkCreateLinks">
        <img src="%PUBURLPATH%/%SYSTEMWEB%/TopicInteractionPlugin/icons/insert-link.png" alt="insert-link" width="48" height="48" align="right" />
        %MAKETEXT{"Do you really want to create links to [_1] attachment(s)?" args="<br /><b></b>"}%
        %CLEAR%
        <div class="foswikiAttachmentBulkProgressMessage">%MAKETEXT{"Creating links"}%</div>
      </div>
      <div class="foswikiAttachmentBulkMessage foswikiAttachmentBulkCreateImageGallery">
        <img src="%PUBURLPATH%/%SYSTEMWEB%/TopicInteractionPlugin/icons/insert-image.png" alt="insert-image-gallery" width="48" height="48" align="right" />
        %MAKETEXT{"Do you really want to create an image gallery for [_1] attachment(s)?" args="<br /><b></b>"}%
        %CLEAR%
        <div class="foswikiAttachmentBulkProgressMessage">%MAKETEXT{"Creating image gallery"}%</div>
      </div>
      <div class="foswikiAttachmentBulkMessage foswikiAttachmentBulkDownload">
        <img src="%PUBURLPATH%/%SYSTEMWEB%/TopicInteractionPlugin/icons/download.png" alt="download" width="48" height="48" align="right" />
        %MAKETEXT{"Do you really want to download [_1] attachment(s)?" args="<br /><b></b>"}%
        %CLEAR%
        <div class="foswikiAttachmentBulkProgressMessage">%MAKETEXT{"Downloading"}%</div>
      </div>
      <div class="foswikiAttachmentBulkMessage foswikiAttachmentBulkHide">
        <img src="%PUBURLPATH%/%SYSTEMWEB%/TopicInteractionPlugin/icons/white-bulb.png" alt="hide" width="48" height="48" align="right" />
        %MAKETEXT{"Do you really want to hide [_1] attachment(s)?" args="<br /><b></b>"}%
        %CLEAR%
        <div class="foswikiAttachmentBulkProgressMessage">%MAKETEXT{"Hiding"}%</div>
      </div>
      <div class="foswikiAttachmentBulkMessage foswikiAttachmentBulkUnHide">
        <img src="%PUBURLPATH%/%SYSTEMWEB%/TopicInteractionPlugin/icons/yellow-bulb.png" alt="show" width="48" height="48" align="right" />
        %MAKETEXT{"Do you really want to unhide [_1] attachment(s)?" args="<br /><b></b>"}%
        %CLEAR%
        <div class="foswikiAttachmentBulkProgressMessage">%MAKETEXT{"Unhiding"}%</div>
      </div>
      <div class="foswikiAttachmentBulkMessage foswikiAttachmentBulkDelete">
        <img src="%PUBURLPATH%/%SYSTEMWEB%/TopicInteractionPlugin/icons/trash-full.png" alt="trash" width="48" height="48" align="right" />
        %MAKETEXT{"Do you really want to delete [_1] attachment(s)?" args="<br /><b></b>"}%
        %CLEAR%
        <div class="foswikiAttachmentBulkProgressMessage">%MAKETEXT{"Deleting"}%</div>
      </div>
    </div>
    <a class="jqUIDialogButton jqUIDialogSubmit {icon:'ui-icon-circle-check'}">%MAKETEXT{"Yes, please"}%</a> 
    <a class="jqUIDialogButton jqUIDialogClose {icon:'ui-icon-cancel'}">%MAKETEXT{"No, thanks"}%</a> 
  </form>
</div>%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"uploadbutton"}%%TMPL:P{"uploadbutton::start"}%%{}%
%TMPL:P{"uploadbutton::input"}%%{}%
%TMPL:P{"uploadbutton::progress"}%%TMPL:P{"uploadbutton::dropzone"}%%{}%
%TMPL:P{"uploadbutton::end"}%%TMPL:END%

%TMPL:DEF{"uploadbutton::start"}%<span class='jqButton jqButtonSimple jqUploadButton' data-topic='%WEB%.%TOPIC%'>%TMPL:P{"uploadbutton::icon"}%<span class='jqButtonText'>%TMPL:P{"uploadbutton::label"}%</span>%TMPL:END%
%TMPL:DEF{"uploadbutton::input"}%<input type="file" name="files[]" multiple />%TMPL:END%
%TMPL:DEF{"uploadbutton::progress"}%<div class="jqUploadProgressBar">%TMPL:P{"uploadbutton::progress::label"}% <span class="jqUploadProgressInfo"></span></div>%TMPL:END%
%TMPL:DEF{"uploadbutton::dropzone"}%<div class="jqUploadDropZone"><span>%MAKETEXT{"Drag files here"}%</span></div>%TMPL:END%
%TMPL:DEF{"uploadbutton::end"}%</span>%TMPL:END%

%TMPL:DEF{"uploadbutton::icon"}%<i class='jqButtonIcon fa-fw fa fa-upload'></i>%TMPL:END%
%TMPL:DEF{"uploadbutton::label"}%%MAKETEXT{"Upload files"}%%TMPL:END%
%TMPL:DEF{"uploadbutton::progress::label"}%%MAKETEXT{"Uploading ..."}%%TMPL:END%

%{ ################################################################################ }%
%TMPL:DEF{"optionsbutton"}%%BUTTON{
  "%IF{"'%TMPL:P{"attachments::showoptions"}%'='true'" 
    then="%MAKETEXT{"Hide options"}%" 
    else="%MAKETEXT{"Show options"}%" 
  }%"
  title="%MAKETEXT{"Show/hide advanced options"}%" 
  icon="fa-wrench" 
  class="simple foswikiAttachmentsOptionsToggle i18n" 
}%%TMPL:END%
