%{***************************************************************************}%
%TMPL:DEF{"uploadform"}%<!-- -->
%TMPL:P{"formstart"}%
%TMPL:P{"filesstep"}%
%TMPL:P{"messagestep"}%
%TMPL:P{context="TopicInteractionPlugin_options" then="optionsstep"}%<!-- -->
%TMPL:P{"buttonsstep"}%
%TMPL:P{"formend"}%
<!-- -->%TMPL:END%

%{***************************************************************************}%
%TMPL:DEF{"formstart"}%<!-- -->
<form class="jqUploader %metadata%">
  <div class="foswikiFormSteps">
<!-- -->%TMPL:END%

%{***************************************************************************}%
%TMPL:DEF{"filesstep"}%<!-- -->
<div class="foswikiFormStep">
  <div class="jqUploaderFilesContainer">
    <div class="jqUploaderDropText">%MAKETEXT{"Drag files here"}%</div>
    <table class="jqUploaderFiles"></table>
  </div>
</div>
<!-- -->%TMPL:END%

%{***************************************************************************}%
%TMPL:DEF{"messagestep"}%<!-- -->
    <div class="jqUploaderMessage foswikiFormStep"></div>
<!-- -->%TMPL:END%

%{***************************************************************************}%
%TMPL:DEF{"optionsstep"}%<!-- -->
<div class="foswikiFormStep">
  <h3>%MAKETEXT{"Comment"}%:</h3>
  <input type="text" size="50" class="foswikiInputField jqUploaderComment" name="filecomment" />
  <div class="foswikiFormDescription">
    %MAKETEXT{"This comment will be added to every uploaded file."}%
  </div>
</div>
<div class="foswikiFormStep">
  <h3>%MAKETEXT{"Options"}%:</h3>
  <div class="foswikiFormOptions">
    <label>
      <input type="checkbox" class="foswikiCheckbox jqUploaderCreateLink" name="createlink" /> 
      %MAKETEXT{"Create a <b>link</b> to the attached files at the end of the topic."}%
    </label> %BR%
    <label>
      <input type="checkbox" class="foswikiCheckbox jqUploaderHideFile" name="hidefile" /> 
      %MAKETEXT{"<b>Hide</b> the files in the attachment list."}%
    </label>
  </div>
</div>
<hr />
<!-- -->%TMPL:END%

%{***************************************************************************}%
%TMPL:DEF{"buttonsstep"}%<!-- -->
<div class="foswikiFormStep foswikiFormLast" style="*zoom:1">
  %TMPL:P{"buttonsstep::addbutton"}%
  %TMPL:P{context="TopicInteractionPlugin_autostart" else="buttonsstep::startbutton"}%<!-- -->
  %TMPL:P{"buttonsstep::cancelbutton"}%<!-- -->
  %TMPL:P{context="TopicInteractionPlugin_autostart" then="buttonsstep::autostart"}%<!-- -->
  %TMPL:P{context="TopicInteractionPlugin_autostart" else="buttonsstep::manualstart"}%<!-- -->
  %CLEAR%
</div>
<!-- -->%TMPL:END%

%TMPL:DEF{"buttonsstep::startbutton"}%%BUTTON{"%MAKETEXT{"Start upload"}%" icon="tick" class="jqUploaderStart"}%%TMPL:END%
%TMPL:DEF{"buttonsstep::addbutton"}%%BUTTON{"%MAKETEXT{"Add files"}%" icon="add" class="jqUploaderBrowse"}%%TMPL:END%
%TMPL:DEF{"buttonsstep::cancelbutton"}%%BUTTON{"%MAKETEXT{"Cancel upload"}%" icon="cross" class="jqUploaderStop"}%%TMPL:END%

%TMPL:DEF{"buttonsstep::autostart"}%<!-- -->
<input type="checkbox" class="foswikiCheckbox jqUploaderAutoStart foswikiHidden" checked name="autostart" /> 
<!-- -->%TMPL:END%

%TMPL:DEF{"buttonsstep::manualstart"}%%TMPL:P{context="TopicInteractionPlugin_noautostart" else="buttonsstep::autostartcheckbox"}%<!-- -->%TMPL:END%

%TMPL:DEF{"buttonsstep::autostartcheckbox"}%<!-- -->
<label class="foswikiLeft" style="line-height:23px">
  <input type="checkbox" class="foswikiCheckbox jqUploaderAutoStart" name="autostart" /> 
  %MAKETEXT{"Start upload immediately."}%
</label>
<!-- -->%TMPL:END%

%{***************************************************************************}%
%TMPL:DEF{"formend"}%<!-- -->
  </div>
</form>
<!-- -->%TMPL:END%
