%TMPL:INCLUDE{"view"}%
%TMPL:INCLUDE{"metadata"}%
%TMPL:DEF{"attachments"}%%TMPL:END%
%TMPL:DEF{"topicaction"}%<!-- -->
%JQREQUIRE{"ui, simplemodal"}%<!-- -->
%ADDTOZONE{"head"
  id="METADATA::PATTERN:CSS"
  text="<link rel='stylesheet' media='all' href='%PUBURLPATH%/%SYSTEMWEB%/TopicInteractionPlugin/metadata.pattern.css' />"
}%<!-- -->
%TMPL:P{"metadata"}%
<div class="foswikiFormSteps">
<a name="topic-actions"></a>
  <div class="patternTopicActions foswikiFormStep">
    <span class="patternActionButtons">%TMPL:P{"topicactionbuttons"}%</span>
  </div>
</div>%TMPL:END%
